<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :message_body %><br />
    <%= f.text_area :message_body %>
  </div>
  <div class="field">
    <%= f.label :from_id %><br />
    <%= f.text_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.text_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :new_message %><br />
    <%= f.check_box :new_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
