<p id="notice"><%= notice %></p>


<p>
<b> From:</b>
   <%= link_to @message.sender.name, @message.sender %>
</p>
<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Message body:</b>
  <%= @message.message_body %>
</p>

<%= link_to 'Back', user_messages_path(current_user) %>
<%= link_to 'Reply', new_user_message_path(current_user, :to_id => @message.from_id, :to_name => @message.sender_name) %>
