<%= form_for(@critical_process) do |f| %>
    <ul class="steps">
        <li id="HeaderTableStep1" style="background-color:Yellow">

          Step 1: Overview
        </li>

        <li id="HeaderTableStep2" style="background-color:#D0D0D0">

          Step 2: In-Scope & Out-Scope
        </li>

        <li id="HeaderTableStep3" style="background-color:#D0D0D0">

          Step 3:&nbsp; Categories & CBB's
        </li>

        <li id="HeaderTableStep4" style="background-color:#D0D0D0">

          Step 4: Lessons Learned
        </li>

        <li id="HeaderTableStep5" style="background-color:#D0D0D0">

          Step:5 Key Terms
        
       </li>
    </ul>
    <br/>


    <% if @critical_process.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@critical_process.errors.count, "error") %> prohibited this critical_process from being
            saved:</h2>

          <ul>
            <% @critical_process.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :lock_version %>
    <span id='cp_description'>
   <% if @critical_process.review && @critical_process.review.stage == 'approved' %>
    <div class="field">
      <%= f.hidden_field :cp_secondary_id %>
    </div>
   <% end %>
      <div class="field">
        <p><%= f.label :cp_title, "Title" %></p>
        <%= f.text_field :cp_title %>
      </div>
    <% if params[:macro_process] %>
     <div class="field">
       <%= f.hidden_field :macro_process_id, :value => params[:macro_process] %>
     </div>
    <% else %>
        <div class="field">
            <%= f.label :macro_process_id %>
        <br/>
            <%= f.select :macro_process_id, options_for_select(MacroProcess.all.collect { |mp| [mp.name, mp.id]}, f.object.macro_process_id) %>
        </div>
    <% end %>
      <div class="field">
        <%= f.label :cp_intro, 'Introduction' %>
        <br/>
        <%= f.text_area :cp_intro %>
      </div>
    <div class="field">
      <%= f.label :cp_definition, "Definition" %>
      <br/>
      <%= f.text_area :cp_definition %>
    </div>
  </span>

    <span id='scopes' style="display:none;">
    <div class="field">
      <%= f.label :in_scope, 'In Scope' %>
      <br/>
      <%= f.text_area :in_scope %>
    </div>
    <div class="field">
      <%= f.label :out_scope, "Out Scope" %>
      <br/>
      <%= f.text_area :out_scope %>
    </div>
  </span>

    <span id="categories" style="display:none;">
    <div class="categories">
      <% f.fields_for :categories do |builder| %>
          <%= render 'category_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Add Category", f, :categories %></p>
    </div>
  </span>

    <span id="lessons" style="display:none;">
    <div class="lessons">
      <% f.fields_for :lessons do |builder| %>
          <%= render 'lesson_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Add Lesson", f, :lessons %></p>
    </div>
  </span>

    <span id="key_terms" style="display:none;">
    <div id="key_terms_selection">
      <h3>Key Terms</h3>
      <ul id="key_term_list">
      <% for key_term in KeyTerm.find(:all) %>
          <li><%= check_box_tag "critical_process[key_term_ids][]", key_term.id, @critical_process.key_terms.include?(key_term) %>
          <%= key_term.term %></li>
      <% end %>

          </ul>
    </div>
      <a id="term_link" href='#'> Add Key Term </a>
    </span>

    <table border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td>
          <input id="ButtonPrevious" type="button" value="Previous" disabled="disabled" name="" onclick="wizardPrevious();"/>
        <td>
          <input id="ButtonNext" type="button" value="Next" name="scopes" onclick="wizardNext()"/></td>
      </tr>

    </table>

    <div class="actions">
      <%= f.submit :class => "action_button" %>
    </div>

<% end %>

<div id="new_key_term_dialog">
  <% @key_term = KeyTerm.new %>
  <%= form_for(@key_term, :remote => true) do |f| %>

      <div class="field">
        <%= f.label :term %>
        <br/>
        <%= f.text_field :term %>
      </div>
      <div class="field">
        <%= f.label :meaning %>
        <br/>
        <%= f.text_area :meaning %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>


</div>