<% if @critical_processes.size > 1 %>
    <h2>Different versions for <%= @critical_processes.first.cp_title %></h2>
<% else %>
    <h2>This is the only available version for <%= @critical_processes.first.cp_title %></h2>
<% end %>

<table>
  <tr>
    <th>Stage</th>
    <th>Title</th>
    <th>Last Update</th>
    <th>Approval Date</th>
  </tr>

  <% @critical_processes.each do |critical_process| %>
      <tr>
        <td><%= critical_process.review.stage %></td>
        <td><%= critical_process.cp_title %></td>
        <td><%= critical_process.updated_at.strftime("%d/%m/%Y") %></td>
        <td><%= critical_process.review.updated_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', critical_process %></td>
        <% if current_user.is_admin || current_user.can_edit(critical_process) %>
            <td><%= link_to 'Edit', edit_critical_process_path(critical_process) %></td>
            <td><%= link_to 'Destroy', critical_process, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<% if current_user.is_admin %>
    <%= link_to 'New Critical process', new_critical_process_path, :class => 'action_button' %>
<% end %>