<h1>IT-CMF Critical Possesses</h1>

<table>
  <tr>
    <% if current_user.authorised %>
        <th>Stage</th>
    <% end %>
    <th>Secondary ID</th>
    <th>Title</th>
  </tr>

  <% @critical_processes.each do |critical_process| %>
      <tr>

        <% if current_user.authorised %>
            <td><%= critical_process.review.stage %></td>
        <% end %>
        <td><%= critical_process.cp_secondary_id %></td>
        <td><%= critical_process.cp_title %></td>

        <td><%= link_to 'Show', critical_process %></td>
        <% if current_user.has_access_to(critical_process) || current_user.is_admin %>
            <td><%= link_to 'Edit', edit_critical_process_path(critical_process) %></td>
            <td><%= link_to 'show all versions', all_versions_critical_process_path(critical_process.cp_secondary_id) %></td>
            <td><%= link_to 'Destroy', critical_process, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>
<% if current_user.is_admin %>
    <%= link_to 'New Critical process', new_critical_process_path %>
<% end %>
