<% if current_user.is_admin || current_user.has_access_to(@critical_process) %>
    <%= render 'authorized_show' %>
<% else %>
<div id='show_page'>


  <h1>Currently Showing <%= @critical_process.cp_title %></h1>
<span id='cp_title'>
  <b>Cp title:</b>
  <%= @critical_process.cp_title %>
</span>

<span id='cp_intro'>
  <b>Cp intro:</b>
  <%= @critical_process.cp_intro %>
</span>

<span id='cp_definition'>
  <b>Cp definition:</b>
  <%= @critical_process.cp_definition %>
</span>

<div id='scopes'>
  <span id='in_scope_container'>
    <b>In scope:</b>
    <%= @critical_process.in_scope %>
  </span>
  <span id='out_scope_container'>
    <b>Out scope:</b>
    <%= @critical_process.out_scope %>
  </span>
</div>

<div id='cbb_definitions'>
  <h3>Description of categories and underlying capability building blocks</h3>
  <table border="1">
    <tr>
      <th>Categories</th>
      <th>Capability Building Blocks</th>
      <th>Description</th>
    </tr>
    <% for category in @categories %>
        <tr>
          <td rowspan="<%= category.capability_building_blocks.size %>"><%= category.category_title %></td>
          <td><%= category.capability_building_blocks.first.cbb_title %></td>
          <td><%= category.capability_building_blocks.first.cbb_definition %></td>
        </tr>
        <% (category.capability_building_blocks - [category.capability_building_blocks.first]).each do |cbb| %>
        <tr>
          <td><%= cbb.cbb_title %></td>
          <td><%= cbb.cbb_definition %></td>
        </tr>
        <% end %>
    <% end %>
  </table>

</div>

<div id='CBB_maturity_show'>
  <h3>Summary maturity curve for capability building blocks</h3>
  <table border="1">
    <tr>
      <th>Categories</th>
      <th>CBB's</th>
      <th>Level 1</th>
      <th>Level 2</th>
      <th>Level 3</th>
      <th>Level 4</th>
      <th>Level 5</th>
    </tr>
    <% for category in @categories %>
        <tr>
          <td rowspan="<%= category.capability_building_blocks.size %>"><%= category.category_title %></td>
          <td><%= category.capability_building_blocks.first.cbb_title %></td>
          <td><%= category.capability_building_blocks.first.level_1_cbb %></td>
          <td><%= category.capability_building_blocks.first.level_2_cbb %></td>
          <td><%= category.capability_building_blocks.first.level_3_cbb %></td>
          <td><%= category.capability_building_blocks.first.level_4_cbb %></td>
          <td><%= category.capability_building_blocks.first.level_5_cbb %></td>
        </tr>
        <% (category.capability_building_blocks - [category.capability_building_blocks.first]).each do |cbb| %>
        <tr>
          <td><%= cbb.cbb_title %></td>
          <td><%= cbb.level_1_cbb %></td>
          <td><%= cbb.level_2_cbb %></td>
          <td><%= cbb.level_3_cbb %></td>
          <td><%= cbb.level_4_cbb %></td>
          <td><%= cbb.level_5_cbb %></td>
        </tr>
        <% end %>
    <% end %>

  </table>
</div>
<div id='lessons_learned_show'>
<h3>Summary of insights and lessons learned</h3>

  <table border="1">
    <tr>
      <th>Question</th>
      <th>Lessons Learned</th>
    </tr>
    <% for lesson in @lessons%>
        <tr>
          <td><%= lesson.lesson_title%></td>
          <td><%= lesson.lesson_definition %></td>

        </tr>
    <% end %>
  </table>
  <% for lesson in @lessons %>
      <li>
        <%= h lesson.lesson_title %> <input type="checkbox" class="topic_checkbox" value="Category: <%= lesson.lesson_title  %>" > <br/>
        <%= h lesson.lesson_definition %>
      </li>
  <% end %>
</div>

<div id='key_terms_show'>
  <b>Key term's</b>

</div>


<%= link_to 'Back', macro_processes_path %>

<% end %>

</div>