<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment, "Comment" %><br />
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :topics, 'Topics' %><br />
    <%= f.text_area( :topics, :cols => 40, :rows => 1)%>
  </div>
  <div class="actions">
    <%= f.submit :class => 'action_button' %>
  </div>
<% end %>
