<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name, 'First Name' %><br />
    <%= f.text_field :first_name %>
  </div>
    <div class="field">
    <%= f.label :second_name, "Last Name" %><br />
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_me, 'Would you like to Receive Emails from the IVI?' %>
    <%= f.check_box :email_me, :value => @user.email_me%>
  </div>
  <div class="field">
    <%= f.label :phone_number, "Mobile Number" %><br />
    <%= f.text_field :phone_number %>
  </div>
  <% if @user == current_user || !current_user %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>
  <% if current_user && current_user.is_admin %>
        <h3>Assign User Roles</h3><br/>
  <p><% for role in Role.where(:review => true) %>
        <%= check_box_tag "user[roles_as_reviewer_ids][]", role.id, @user.roles.include?(role) %>
        <%= role.name %>
     <% end %>
  </p>

  <p><% for role in Role.where(:edit => true) %>
        <%= check_box_tag "user[roles_as_editor_ids][]", role.id, @user.roles.include?(role) %>
        <%= role.name %>
     <% end %>
  </p>

  <p><% for role in Role.where(:admin => true) %>
        <%= check_box_tag "user[role_as_admin_ids][]", role.id, @user.roles.include?(role) %>
        <%= role.name %>
     <% end %>
  </p>
  <% elsif current_user %>
    <p>Your Assigned Roles are: <br/>
      <% for role in @user.roles %>
          <%= role.name %> <br/>
      <% end %>
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
