<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<div>
<b>Username:</b>
  <%= @user.username %>
</div>

<div>
  <b>Email:</b>
  <%= @user.email %>
</div>

<div>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</div>

<div>
  <b>Login Count</b>
  <%= @user.login_count %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
