<h2>Key Terms</h2>


<%= paginate @key_terms %>

<table>
  <tr>
    <th>Term</th>
    <th>Meaning</th>
  </tr>

  <% @key_terms.each do |key_term| %>
      <tr>
        <td class="key_term"><%= link_to key_term.term, key_term %></td>
        <td class="key_term_meaning"><%= key_term.meaning[0..70] %></td>
        <td><%= link_to 'Show', key_term %></td>
        <% if current_user.authorised %>
            <td><%= link_to 'Edit', edit_key_term_path(key_term) %></td>
            <td><%= link_to 'Destroy', key_term, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Key term', new_key_term_path, :class => 'action_button' %>
