<%= form_for(@macro_process) do |f| %>
  <% if @macro_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@macro_process.errors.count, "error") %> prohibited this macro_process from being saved:</h2>

      <ul>
      <% @macro_process.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'action_button' %>
  </div>
<% end %>
