<div id="navigation_header">
	<div id="header_image" >
	</div>
</div>
<div id="links_container">
	<div id="user_options">
		<% if current_user %>
			Singed in as <%= current_user.email %>. Not you? |
            <%= link_to "Sign Out", logout_path %> |
            <%= link_to 'Edit Profile', edit_user_path(current_user) %> |
          <% if current_user.is_admin %>
            <%= link_to "List of Users", users_path %>
          <% end %>
		<% else %>
          <%= link_to "Sign Up", new_user_path %> Or
          <%= link_to "Sign In", login_path %>
		<% end %>
	</div>
		<div id="main_link">
		<%= link_to "Critical Processes", critical_processes_path %> |
        <% if current_user && current_user.authorised %>
		<%= link_to "Key Terms", key_terms_path %> |
        <% end %>
	</div>
</div>